// Media query mixins 

mobile()
  @media (max-width: 640px)
    {block}

tablet()
  @media (max-width: 800px)
    {block}

desktop()
  @media (max-width: 1200px)
    {block}

atMobile()
  @media (min-width: 640px)
    {block}

atTablet()
  @media (min-width: 800px)
    {block}

atDesktop()
  @media (min-width: 1200px)
    {block}